<div class="card-article">
  <h1 class="title"><%= @article.title %></h1>
  <%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_article_path(@article) %>
  <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <br>
  <p><%= @article.content %></p>
</div>
